.home-page {
  padding: 100px 0 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(50% 50% at 50% 50%, #03051C 0%, #030210 100%);
}

.home-page__container {
  display: flex;
  flex-direction: column;
}

/* ? GRAPHS */
.home-page__graphs {}

.graphs {
  display: flex;
  flex-direction: column;
}

.graphs__popup {
  user-select: none;
  position: relative;
  width: max-content;

  display: flex;
}

.graphs__popup-button {
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0A0A1E;
  border-radius: 26px;
  cursor: pointer;
}

.graphs__popup-button:first-child {
  margin-right: 10px;
}

.graphs__popup-current-value {
  display: flex;
  align-items: center;
}

.graphs__popup-value-icon {
  margin-right: 10px;
  width: 32px;
  height: 32px;

  color: #FFFFFF;
}

.graphs__popup-value-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #FFFFFF;
}

.graphs__popup-chevron-icon {
  width: 32px;
  height: 32px;
  color: #FFFFFF;
  transition: all .3s;
}

.graphs__popup-content {
  display: none;

  padding: 20px;
  position: absolute;
  left: 0;
  top: 80px;
  right: 0;

  /* background-color: red; */
  background-color: #0A0A1E;
  border-radius: 26px;
  transition: all .3s;
}

.graphs__popup-content--active {
  display: block;
  animation: popup-content-active 0.5s forwards;
}

.graphs__popup-value {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

  animation: popup-content-active 1.5s forwards;
}

.graphs__popup-value:last-child {
  margin-bottom: 0;
}

@keyframes popup-content-active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.graphs__popup-value .graphs__popup-value-icon {
  flex: 0 0 auto;
}

.graphs__popup-value .graphs__popup-value-text {
  flex: 1 1 auto;
}

.graphs__popup-value-checkbox {
  position: relative;
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
}

.graphs__popup-value-checkbox-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: #FFFFFF;
  transition: all .3s;
}

.graphs__popup-value-checkbox-icon--check {
  opacity: 0;
  width: 0;
  height: 0;
}

.graphs__popup-value-checkbox--active .graphs__popup-value-checkbox-icon {
  color: #0E0EDD;
}

.graphs__popup-value-checkbox--active .graphs__popup-value-checkbox-icon--check {
  opacity: 1;
  width: 32px;
  height: 32px;
}

.graphs__image {
  margin-top: 20px;
}

/* ? RESPONSIVE */
@media (max-width: 1320px) {

}

@media (max-width: 1000px) {

}

@media (max-width: 730px) {
  /* ? GRAPHS */
  .graphs__popup-button {
    padding: 14px 20px;
  }

  .graphs__popup-value-icon {
    width: 24px;
    height: 24px;
  }

  .graphs__popup-value-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }

  .graphs__popup-chevron-icon {
    width: 24px;
    height: 24px;
  }

  .graphs__popup-value-checkbox {
    width: 24px;
    height: 24px;
  }

  .graphs__popup-value-checkbox-icon {
    width: 24px;
    height: 24px;
  }

  .graphs__popup-value-checkbox--active .graphs__popup-value-checkbox-icon--check {
    opacity: 1;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 430px) {

}